
    <!-- Before Footer
    ================================================== -->
    <br>
	<div class="beforefooter">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<h3>For any queries contact or get in touch with us </h3>
          <p>
            The official links are provided here
          </p>
				</div>
				<div class="col-md-4 text-right footersocial">
					<h5>Connect with Us</h5>
					<a href="" class="fa fa-facebook"></a>
					<a href="" class="fa fa-twitter"></a>
					<a href="" class="fa fa-google"></a>
					<a href="" class="fa fa-linkedin"></a>
					<a href="" class="fa fa-github"></a>
					<a href="" class="fa fa-instagram"></a>
				</div>
			</div>
		</div>
	</div>
    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <!-- Begin Logo -->
          <a class="navbar-brand" href="index.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-journal-bookmark-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
            </svg>
            <span class="name">StudyFinder</span>
            </a>
          </div>
          <div class="col-sm-3">
            <div class="footer-widget">
              <h5 class="title">Resources</h5>
              <ul>
                <li><a target="_blank" href="#">Home</a></li>
                <li><a target="blank" href="#">City search</a></li>
                <li><a target="blank" href="#">About</a></li>
                <li><a target="blank" href="#">Info</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-widget">
              <h5 class="title">Author</h5>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a target="_blank" href="#">Affiliates</a></li>
                <li><a href="#">License</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-widget textwidget">
              <h5 class="title">Contact</h5>
              <p>
                If you have a question, a bug report, or if you simply want to say hi<br>
                <a href="#">contact us here</a>.
              </p>
            </div>
          </div>
        </div>
        
      </div>
      </footer>
    <!-- End Footer
      ================================================== -->
  </div>
    
  <!-- JavaScript
  ================================================== -->
  <script src="/js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="public/js/ie10-viewport-bug-workaround.js"></script>
  <script src="public/js/masonry.pkgd.min.js"></script>
  <script src="public/js/theme.js"></script>
 
