<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDK</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">
    <!--<link href="public/css/theme.css" rel="stylesheet">-->
     
    <%- include ('snapcss') %>
    <%- include ('mysd888p') %>
    <%- include ('mycss') %>  
</head>
<style>
  a svg{
    transform: translateY(9px);
  }
  .fear{
    opacity: 1;
    background-color: black;
    height: 90px;
    border-radius: 10px;
  }
  .ims{
    height: 150px;
    width: 300px;
  }
  .bomma{
    display: flex;
  }
  .naperu{
    transform: translateY(60px);
    padding: 10px;
  }
  .sym{
    
    transform: translateX(20px);
    transform: translateY(85px);
  }
  .noclass{
    display: flex;
    padding: 15px;
    height: fit-content;
    
    margin-left: 270px;
    transform: translateY(65px);
  }
  .tttt{
    margin: 25px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
  }
  .webs{
    margin: 25px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
  }
  .pamu{
    display: flex;
  }
  .webs a{
    color: black;
  }
  .webs a:hover{
    color: aqua;
    cursor: pointer;
    text-decoration: none;
  }
  
</style>
<body>
    <header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
              <!-- Begin Logo -->
          <a class="navbar-brand" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-journal-bookmark-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
            </svg>
            <span class="name">StudyFinder</span>
            </a>
            <!-- End Logo -->
          <!-- Begin Menu -->
          <div class="collapse navbar-collapse" id="navbarsWow">
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/find">City Search</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
              </li> <!--
              <li class="nav-item">
              <a target="_blank" class="nav-link highlight" href="/recent">Recent</a>
              </li> -->
            </ul>
            <!-- End Menu -->
          </div>
        </div>
      </header>
        <!-- End Menu Navigation
        ================================================== -->
        <br><br>
