<%- include ('partials/header') %>
<%- include ('partials/theme') %> 
<!-- ================================================== -->
<div class="site-content">
	<div class="container">
		<div class="main-content">
			<!-- Featured
            ================================================== -->
			<section class="featured-posts">
			<div class="section-title">
				<h2><span>Featured</span></h2>
			</div>
			<div class="row listfeaturedtag">
				<!-- begin post -->
				<div class="col-sm-6">
					<div class="card">
						<div class="row">
							<div class="fear" >
								<a  href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-clipboard2-check-fill" viewBox="0 0 16 16">
										<path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
										<path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5Zm6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708Z"/>
									  </svg>
								</a>
							</div>
							<div class="col-md-7">
								<div class="card-block">
									
									<h2 class="card-title"><a href="/searchclg/all">Colleges</a></h2>
									<h4 class="card-text">The names of colleges available in India with location wise.Refer to below link to explore.</h4>
									
									<div class="clickhere">
										<a class="here" href="#">Click Here</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
				<!-- begin post -->
				<div class="col-sm-6">
					<div class="card">
						<div class="row">
							<div class="fear" >
								<a  href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-clipboard2-check-fill" viewBox="0 0 16 16">
										<path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
										<path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5Zm6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708Z"/>
									  </svg>
								</a>
							</div>
							<div class="col-md-7">
								<div class="card-block">
									
									<h2 class="card-title"><a href="/searchunivs/all">Universities</a></h2>
									<h4 class="card-text">The names of Universities available in India with location wise.Refer to below link to explore.</h4>
									
									<div class="clickhere">
										<a class="here"href="#">Click Here</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
			</div>
			</section>
			<!-- Posts Index
        ================================================== -->
			<section class="recent-posts row">
			<div class="col-sm-4">
				<div class="sidebar">
					
					<div class="sidebar-section">
						<h5><span>University</span></h5>
						<ul style="list-style:none">
							<img src="/images/university.png" alt="University">
						</ul>
					</div>
					<div class="sidebar-section">
						<h5><span>College</span></h5>
						<a href="#" title="Tech"><img src="/images/college.png" alt="college"/></a>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="section-title">
					<h2><span>Popular</span></h2>
				</div>
				<div class="masonrygrid row listrecent">
					<!-- begin post -->
					<div class="col-md-6 grid-item">
						<div class="card">
							<a href="#">
							<img class="img-fluid" src="/images/univdelhi.png" alt="">
							</a>
							<div class="card-block">
								<h2 class="card-title"><a href="/searchuniv/Delhi">Universities in Delhi</a></h2>
								<h4 class="card-text">If you want to know the universities available in Indian capital city Delhi then simply compare them by clicking the below link</h4>
								<div class="clickhere">
									<a class="here"href="#">Click Here</a>
								</div>
							</div>
						</div>
					</div>
					<!-- end post -->
					<!-- begin post -->
					<div class="col-md-6 grid-item">
						<div class="card">
							<a href="#">
								<img class="img-fluid" src="/images/colhyd.png" alt="">
							</a>
							<div class="card-block">
								<h2 class="card-title"><a href="/searchclg/Hyderabad">Colleges in Hyderabad</a></h2>
								<h4 class="card-text">Get the details about the colleges in Hyderabad and their courses available and one more thing , if one college is on down on the list that doesn't means it's not in the competititon , it has it's own facilities and courses offered which may don't have by others.</h4>
								<div class="clickhere">
									<a class="here" href="#">Click Here</a>
								</div>
							</div>
						</div>
					</div>
					<!-- end post -->
					<!-- begin post -->
					<div class="col-md-6 grid-item">
						<div class="card">
							<br>
							<a href="/mobile">
								<img class="img-fluid" src="/images/colap.png" alt="">
							</a>
							<div class="card-block">
								<h2 class="card-title"><a href="/searchclg/Vijayawada">Colleges in Vijayawada</a></h2>
								<h4 class="card-text">Get the details about the colleges in Andhra Pradesh and their courses available and refer the below link to know more.</h4>
									<div class="clickhere">
										<a class=" here"href="#">Click Here</a>
									</div>
							</div>
						</div>
					</div>
					<!-- end post -->
					<!-- begin post -->
					<div class="col-md-6 grid-item">
						<div class="card">
							<a href="/pc">
								<img class="img-fluid" src="/images/coltel.png" alt="">
							</a>
							<div class="card-block">
								<h2 class="card-title"><a href="/searchclg/Guntur">Colleges in Guntur</a></h2>
								<h4 class="card-text">Get the details about the colleges in Telangana and their courses available and refer the below link to know more
								</h4>
								<div class="clickhere">
									<a class="here" href="#">Click Here</a>
								</div>
							</div>
						</div>
					</div>
					<!-- end post -->
				</div>
				
			</div>
			</section>
		</div>
	</div>
	<!-- /.container -->
<%- include ('partials/footer') %>
