<%- include ('partials/header') %>
<%- include ('partials/theme') %> 
<!-- ================================================== -->
<div class="site-content">

	<div class="container">
		<div class="main-content">
			<!-- Featured
            ================================================== -->
			<section class="featured-posts">
			<div class="section-title">
				<h2><span>Featured</span></h2>
			</div>
			<div class="row listfeaturedtag">
				<!-- begin post -->
				<div class="col-sm-6">
					<div class="card">
						<div class="row">
							<div class="col-md-5 wrapthumbnail">
								<a href="/explore">
								<div class="thumbnail" style="background-image:url(/images/explore.png);">
								</div>
								</a>
							</div>
							<div class="col-md-7">
								<div class="card-block">
									<h2 class="card-title"><a href="/explore">Explore</a></h2>
									<h4 class="card-text">Explore the MeDWeb by clicking here to get all the medicines available.</h4>
									
									<div class="clickhere">
										<a class="here"href="/explore">Click Here</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
				<!-- begin post -->
				<div class="col-sm-6">
					<div class="card">
						<div class="row">
							<div class="col-md-5 wrapthumbnail">
								<a href="/search">
								<div class="thumbnail" style="background-image:url(/images/searchimg.jpg);">
								</div>
								</a>
							</div>
							<div class="col-md-7">
								<div class="card-block">
									
									<h2 class="card-title"><a href="/search">Search hospitals</a></h2>
									<h4 class="card-text">You can search hospitals by name and their details are displayed on this MedWeb</h4>
									
									<div class="clickhere">
										<a class="here"href="/search">Click Here</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
			</div>
			</section>
			<!-- Posts Index
        ================================================== -->
			
		</div>
	</div>
	<!-- /.container -->
<%- include ('partials/footer') %>
