<%- include ('partials/header') %>
<%- include ('partials/theme') %> 
<br><br><br><br><br>
<style>
    .makechoice{
        display: flex;
        margin-left: 550px;
    }
    .popo{
        color: black;
        border: 2px dotted black;
        border-radius: 3px;
        padding: 15px;
        margin: 20px;
    }
</style>
    <div class="makechoice">
        <a class="popo" href="/clgcity">Search Colleges</a>
        <a class="popo" href="/univcity">Search Universities</a>
    </div>
<br><br><br><br><br>
<%- include ('partials/footer') %>